[submodule "dev/themes/diary"]
	path = dev/themes/diary
	url = git@github.com:zadjadr/hugo-theme-diary.git
	branch = main
[submodule "dev/themes/PaperMod"]
	path = dev/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
