[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "dev/themes/hugo-theme-diary"]
	path = dev/themes/hugo-theme-diary
	url = git@github.com:AmazingRise/hugo-theme-diary.git
