 /* blinking cursor */
 #cursor {
    background: #145ca4;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: blink 1s infinite;
    -moz-animation: 1s blink infinite;
    -ms-animation: 1s blink infinite;
    -o-animation: 1s blink infinite;
    animation: blink 1s infinite;
    display: inline-block;
    width: 10px;
    height: 1rem;
    margin-left: 3px;
  }

@keyframes blink {
    0% {background: transparent}
    50% {background: #145ca4}
    100% {background: transparent}
}

@-moz-keyframes blink {
    0% {background: transparent}
    50% {background: #145ca4}
    100% {background: transparent}
}

@-moz-keyframes blink {
    0% {background: transparent}
    50% {background: #145ca4}
    100% {background: transparent}
}

@-webkit-keyframes blink {
    0% {background: transparent}
    50% {background: #145ca4}
    100% {background: transparent}
}
  